<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.spundev.cryptographyplayground">

    <!-- Biometric permission -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!-- Permission depreciated in Android P -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Main activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Cipher activity -->
        <activity
            android:name=".CipherActivity"
            android:label="@string/title_activity_cipher"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Message digest activity -->
        <activity
            android:name=".DigestMessageActivity"
            android:label="@string/title_activity_digest_message"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- MAC activity -->
        <activity
            android:name=".MacActivity"
            android:label="@string/title_activity_mac"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Signature activity -->
        <activity
            android:name=".SignatureActivity"
            android:label="@string/title_activity_signature"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Keystore basic activity -->
        <activity
            android:name=".KeystoreBasicActivity"
            android:label="@string/title_activity_keystore_basic"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Keystore with fingerprint activity -->
        <activity
            android:name=".KeystoreFingerprintActivity"
            android:label="@string/title_activity_keystore_fingerprint"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>